<table class="resp" style="background-color:  #0070c0;color: #ffffff;">

  <tr>
    <td scope="col" style=" width: 60%;">
      <button class="botonmenu" mat-button [routerLink]="'/panel/biblioteca/bienvenida'">
        <mat-icon>home</mat-icon> <br>HOME</button>

      <button mat-button [matMenuTriggerFor]="animals"> <mat-icon> business </mat-icon><br>MANTENIMIENTO</button>
      <mat-menu #animals="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="invertebrates">Personas</button>
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracioncategoria'">Categoria</button>
      </mat-menu>


      <mat-menu #invertebrates="matMenu">
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionclientes'">Clientes</button>
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionproveedor'">Proveedores</button>
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionusuarios'"> Usuarios</button>
      </mat-menu>



      <button mat-button [matMenuTriggerFor]="articulo"> <mat-icon>shopping_basket</mat-icon> <br>PRODUCTOS</button>

      <mat-menu #articulo="matMenu">
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionProducto'">Mis Productos</button>
        <!--
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionServicio'">Stock Rojo</button>
        -->
      </mat-menu>


      <button mat-button [matMenuTriggerFor]="produccion"> <mat-icon>shopping_basket</mat-icon><br>PRODUCCIÓN</button>


      <mat-menu #produccion="matMenu">
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionProduccion'">Mi Producción</button>
      </mat-menu>


      <!--
      <button mat-button [matMenuTriggerFor]="catalogodigital"> <mat-icon>help_outline</mat-icon><br>SERVICIOS</button>
      <mat-menu #catalogodigital="matMenu">
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionCatalogoDigital'">Mis Servicios</button>
      </mat-menu>-->


      <button mat-button [matMenuTriggerFor]="ordenCompra"> <mat-icon>shopping_cart</mat-icon><br>VENTA</button>


      <mat-menu #ordenCompra="matMenu">
        <button mat-menu-item [routerLink]="'/panel/biblioteca/creaModificarVenta'">Nueva Venta</button>
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionVenta'">Mis Ventas</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="caja"><mat-icon>account_balance</mat-icon><br>CAJA</button>


      <mat-menu #caja="matMenu">
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionCredito'">Creditos</button>
        <button mat-menu-item [routerLink]="'/panel/biblioteca/creaModificarCierreCaja'">Cierre de Caja</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="admi"> <mat-icon>supervised_user_circle</mat-icon><br>ADMINISTRACIÓN</button>


      <mat-menu #admi="matMenu">
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionCobroCaja'">Cobro Caja</button>
        <button mat-menu-item [routerLink]="'/panel/biblioteca/resumenGeneral'">Resumen</button>
      </mat-menu>


      <!--
      <button *ngIf="persona.idRol == 1" mat-button [matMenuTriggerFor]="admia">
        <mat-icon>add_shopping_cart</mat-icon><br>ADMINISTRACIÓN</button>
-->



      <mat-menu #admia="matMenu">
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionSubidaData'">Subida productos</button>
      </mat-menu>

    </td>


    <td scope="col" style=" width: 20%; text-align: center;">
      <button mat-button [matMenuTriggerFor]="beforeMenu"> <mat-icon> person</mat-icon> <br> {{persona.nombres}}
        {{persona.apellidos}}</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logout()">Cerrar Sesion</button>
      </mat-menu>
    </td>
  </tr>


</table>



<div class="example-sidenav-content">
  <router-outlet></router-outlet>
</div>