<table class="resp" style="background-color:  #0070c0;color: #ffffff;">

  <tr>
    <td scope="col" style=" width: 60%;">
      <button class="botonmenu" mat-button [routerLink]="'/panel/biblioteca/bienvenida'">
        <mat-icon>home</mat-icon> <br>HOME</button>

      <button mat-button [matMenuTriggerFor]="animals"> <mat-icon>settings</mat-icon><br>MANTENIMIENTO</button>
      <mat-menu #animals="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="invertebrates">Personas</button>
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracioncategoria'">Categoria</button>
      </mat-menu>


      <mat-menu #invertebrates="matMenu">
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionclientes'">Clientes</button>
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionproveedor'">Proveedores</button>
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionusuarios'"> Usuarios</button>
      </mat-menu>



      <button mat-button [matMenuTriggerFor]="articulo"> <mat-icon>dialpad</mat-icon><br>PRODUCTOS</button>

      <mat-menu #articulo="matMenu">

        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionProducto'">Mis Productos</button>
        <button mat-menu-item [matMenuTriggerFor]="transpo">Concurrencia</button>

        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionServicio'">Stock Rojo</button>
      </mat-menu>

      <mat-menu #transpo="matMenu">
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionTransporte'">Entradas</button>
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionTransporte'">Bajas</button>
      </mat-menu>


      <button mat-button [matMenuTriggerFor]="produccion"> <mat-icon>help_outline</mat-icon><br>MEDIDA</button>


      <mat-menu #produccion="matMenu">
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionProducto'">Productos</button>
      </mat-menu>


      <button mat-button [matMenuTriggerFor]="catalogodigital"> <mat-icon>help_outline</mat-icon><br>SERVICIOS</button>


      <mat-menu #catalogodigital="matMenu">
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionCatalogoDigital'">Mis Servicios</button>
      </mat-menu>


      <button mat-button [matMenuTriggerFor]="ordenCompra"> <mat-icon>add_shopping_cart</mat-icon><br>VENTA</button>


      <mat-menu #ordenCompra="matMenu">
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionOrdenCompra'">Nueva Venta</button>
        <button mat-menu-item [routerLink]="'/panel/biblioteca/administracionOrdenRecibo'">Mis Ventas</button>
      </mat-menu>


    </td>


    <td scope="col" style=" width: 20%; text-align: center;">
      <button mat-button [matMenuTriggerFor]="beforeMenu"> <mat-icon> person</mat-icon> <br> {{persona.nombres}}
        {{persona.apellidos}}</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logout()">Cerrar Sesion</button>
      </mat-menu>
    </td>
  </tr>


</table>



<div class="example-sidenav-content">
  <router-outlet></router-outlet>
</div>