<section>
    <br>
    <mat-card class="example-card" style="background: #F2F1E9">
        <mat-progress-bar *ngIf="loaderActualizar" mode="indeterminate"></mat-progress-bar>

        <div style="overflow-x:auto; ">
            <mat-progress-bar *ngIf="loaderCargaDatos" mode="indeterminate"></mat-progress-bar>
            <div>
                <div class="opcion1fd">
                    <h3> <strong>BAJA PRODUCCTO</strong></h3>
                </div>
            </div>

            <h4>DATOS DE BAJA</h4>


            <table [formGroup]="formGrupos">
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Cantidad</mat-label>
                            <input matInput formControlName="cantidad" required pattern="^[0-9]{0,12}([.][0-9]{2,2})?$">
                        </mat-form-field>
                    </td>

                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Precio</mat-label>
                            <input matInput formControlName="precio">
                        </mat-form-field>
                       
                    </td>
                </tr>

                <tr>
                    <td>
                        <mat-form-field appearance="outline" class="inputDatos">
                            <mat-label>Observación</mat-label>
                            <textarea matInput formControlName="observacion"></textarea>
                        </mat-form-field>
                    </td>

                    <td>

                    </td>
                </tr>

            </table>

        </div>


        <div>
            <div>
                <div class="opcion1fd">
                    <mat-progress-bar *ngIf="loaderActualizar" mode="indeterminate"></mat-progress-bar>

                    <button [disabled]="formGrupos.invalid " *ngIf="botonParaGuardar==true" mat-flat-button
                        color="primary" style="color: #FFFFFF;" class=".buttonguardar" (click)="guardarInformacion()">
                        <mat-icon>save</mat-icon> REGISTRAR
                    </button>
                    
                    <button mat-raised-button mat-flat-button color="warn" class="buttonprincipales"
                        (click)="botonCancelarRegistro()" class="buttonguardar">
                        <mat-icon>close</mat-icon> CANCELAR
                    </button>
                </div>
            </div>
        </div>

    </mat-card>
</section>


<br>