<br>
<section>
    <div *ngIf="sectionCrudDatos==true">
        <mat-card class="example-card" style="background: #F2F1E9">
            <form [formGroup]="formGrupos">
                <mat-card-content style="background: #F2F1E9">

                    <mat-grid-list cols="2" rowHeight="5:0.9">


                        <div>
                            <div class="opcion1fd">
                                <h3> <strong>USUARIOS</strong></h3>
                            </div>
                        </div>

                        <h4>DATOS DEL USUARIO</h4>

                        <div>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label>Cédula</mat-label>
                                    <input matInput formControlName="cedula">
                                </mat-form-field>
                            </mat-grid-tile>

                        </div>

                        <div>

                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label>Fecha Nacimiento</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="fecha">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </mat-grid-tile>
                        </div>


                        <div>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label>Nombres</mat-label>
                                    <input matInput formControlName="nombres">
                                </mat-form-field>
                            </mat-grid-tile>


                        </div>

                        <div>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label>Apellidos</mat-label>
                                    <input matInput formControlName="apellidos">
                                </mat-form-field>
                            </mat-grid-tile>
                        </div>

                        <div>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label>Télefono</mat-label>
                                    <input matInput formControlName="telefono">
                                </mat-form-field>
                            </mat-grid-tile>
                        </div>

                        <div>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email">
                                </mat-form-field>
                            </mat-grid-tile>
                        </div>

                        <div>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label>Dirección</mat-label>
                                    <input matInput formControlName="direccion">
                                </mat-form-field>
                            </mat-grid-tile>
                        </div>

                        <div>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label>Clave</mat-label>
                                    <input matInput formControlName="clave">
                                </mat-form-field>
                            </mat-grid-tile>
                        </div>




                        <div>
                            <mat-grid-tile>
                                <mat-form-field appearance="outline">
                                    <mat-label>Rol</mat-label>
                                    <mat-select formControlName="idRol">
                                        <mat-option [value]="2">GESTION</mat-option>
                                        <mat-option [value]="3">INCRIPCION Y USO</mat-option>
                                        <mat-option [value]="4">REPORTES</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>
                        </div>

                        <div>
                            <mat-grid-tile>


                                <mat-form-field appearance="outline">
                                    <mat-label>Seleccione Sucursal</mat-label>
                                    <mat-select formControlName="sucursal">
                                        <mat-option *ngFor="let option of sucursalLista"
                                            [value]="option.id">{{option.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </mat-grid-tile>
                        </div>



                    </mat-grid-list>
                </mat-card-content>

                <div>
                    <mat-progress-bar *ngIf="loaderActualizar" mode="indeterminate"></mat-progress-bar>
                    <div class="opcion1fd">


                        <button *ngIf="botonParaGuardar==true" mat-flat-button color="primary" style="color: #FFFFFF;"
                            [disabled]="formGrupos.invalid" (click)="guardarInformacion()" class=".buttonguardar">
                            <mat-icon>save</mat-icon> REGISTRAR
                        </button>

                        <button *ngIf="botonParaEditar==true" mat-flat-button color="primary" style="color: #FFFFFF;"
                            [disabled]="formGrupos.invalid" (click)="guardarEditarInformacion()" class="buttonguardar">
                            <mat-icon>save</mat-icon> ACTUALIZAR
                        </button>


                        <button mat-raised-button mat-flat-button color="warn" class="buttonprincipales"
                            (click)="botonCancelarRegistro()" class="buttonguardar">
                            <mat-icon>close</mat-icon> CANCELAR
                        </button>
                    </div>
                </div>




            </form>

        </mat-card>
    </div>
</section>


<!---------------------------------------LISTAR----------------------------------------->

<section *ngIf="sectionTablaLista==true">
    <mat-card class="borde2">

        <div class="tituloSeccion">
            <strong>USUARIOS</strong>
        </div>

        <mat-progress-bar *ngIf="loaderActualizar" mode="indeterminate"></mat-progress-bar>
        <mat-card-content>

            <div>
                <button mat-raised-button color="primary" style="color: #FFFFFF;" class="buttonprincipales"
                    (click)="mostrarNuevo()">
                    <mat-icon>add_circle_outline</mat-icon>
                    Nuevo
                </button>
                <button mat-raised-button style="background-color: #FBC02D; color: #FFFFFF;" class="buttonprincipales"
                    (click)="generatePDF()">
                    <mat-icon>save_alt</mat-icon>
                    PDF
                </button>

                <button mat-raised-button style="background-color: #217346; color: #FFFFFF;" class="buttonprincipales"
                    (click)="exportToExcel()">
                    <mat-icon>save_alt</mat-icon>
                    EXCEL
                </button>

            </div>
            <br>

            <div style="width: 340px;">
                <mat-form-field appearance="outline" class="bordeFiltro">
                    <mat-label>Buscar Usuarios</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Franklin Dominguez" #input>
                    <mat-icon matSuffix>find_in_page</mat-icon>
                </mat-form-field>
            </div>


            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort id="table" style="background-color: #F2F1E9;">



                    <!-- Name Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10px;">ID</th>
                        <td mat-cell *matCellDef="let row" style="width: 10px;"> {{row.id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="sucursal">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> SUCURSAL</th>
                        <td mat-cell *matCellDef="let row"> {{row.nombreSucursal}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="rol">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ROL</th>
                        <td mat-cell *matCellDef="let row"> {{row.nombreRol}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="cedula">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> CÉDULA</th>
                        <td mat-cell *matCellDef="let row"><strong>{{row.cedula}}</strong> </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> NOMBRES</th>
                        <td mat-cell *matCellDef="let row"> {{row.nombres}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="apellidos">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> APELLIDOS</th>
                        <td mat-cell *matCellDef="let row"> {{row.apellidos}} </td>
                    </ng-container>




                    <ng-container matColumnDef="telefono">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> TELÉFONO</th>
                        <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nacimiento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> NACIMIENTO</th>
                        <td mat-cell *matCellDef="let row"> {{row.fechaNacimiento}} </td>
                    </ng-container>

                    <ng-container matColumnDef="correo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> EMAIL</th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="documento">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10px;">ACCIÓN</th>
                        <td mat-cell *matCellDef="let row" style="width:10px;" >
                            <button mat-flat-button color="primary" style="color: #FFFFFF;" (click)="editarInformacion(row.id)"> EDITAR</button>
                        </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>

                <mat-paginator style="background-color: #F2F1E9;" [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page of users"></mat-paginator>
            </div>

        </mat-card-content>
    </mat-card>
</section>